---
- name: Backup group exists
  ansible.builtin.group:
    name: "{{ borg_group }}"
    state: present
  become: yes

- name: Backup user exists
  ansible.builtin.user:
    name: "{{ borg_user }}"
    state: present
    shell: /bin/bash
    home: "{{ borg_home }}"
    createhome: yes
    group: "{{ borg_group }}"
    groups:
  become: yes

- name: Backup user has ~/.ssh/authorized_keys
  ansible.posix.authorized_key:
    user: "{{ borg_user }}"
    key: "{{ item.key }}"
    key_options: >-
      command="cd {{ borg_repos }}/{{ item.repo }};
      borg serve --restrict-to-path {{ borg_repos }}/{{ item.repo }}",restrict
  with_items: "{{ borg_repo_keys }}"
  become: yes

- name: Backup user's home directory has correct permissions
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: "{{ borg_group }}"
    mode: "0710"
  loop:
    - "{{ borg_home }}"
    - "{{ borg_home }}/.ssh"
    - "{{ borg_repos }}"
  become: yes

- name: Backup user's home directory files have correct permissions
  ansible.builtin.file:
    path: "{{ item }}"
    state: file
    owner: root
    group: "{{ borg_group }}"
    mode: "0640"
  loop:
    - "{{ borg_home }}/.bash_logout"
    - "{{ borg_home }}/.bashrc"
    - "{{ borg_home }}/.profile"
    - "{{ borg_home }}/.ssh/authorized_keys"
  become: yes

- name: Backup user's host subdirectories have correct permissions
  ansible.builtin.file:
    path: "{{ borg_repos }}/{{ item.repo }}"
    state: directory
    owner: "{{ borg_user }}"
    group: "{{ borg_group }}"
    mode: "0700"
  with_items: "{{ borg_repo_keys }}"
  become: yes
